/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  /* Estilos para el contenedor principal */
  .container {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  /* Estilos para el encabezado h1 */
  .main-heading {
    font-size: 36px;
    color: #3498db;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  /* Estilos para la zona de arrastrar y soltar */
  .file-drop-zone {
    border: 2px dashed #3498db;
    padding: 20px;
    width: 95%;
    cursor: pointer;
    transition: border-color 0.3s ease;
    background-color: #fff;
    color: #3498db;
    align-items: center;
  }
  
  .file-drop-zone:hover {
    border-color: #2980b9;
    text-align: center;
    align-items: center;
  }
  
  /* Botón de selección de archivos */
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    align-items: center;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  /* Estilos para la lista de archivos seleccionados */
  .selected-files {
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }
  
  .selected-file {
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    align-items: center;
  }
  
  .selected-file:hover {
    background-color: #d5dbdb;
    cursor: pointer;
    align-items: center;
  }

  /* Estilo normal del botón */
.btn-danger {
    background-color: #dc3545; /* Color rojo */
    color: #fff; /* Color del texto en blanco */
  }
  
  /* Estilo cuando el mouse está encima del botón */
  .hover-red:hover {
    background-color: #ff0000; /* Cambiar a un tono más brillante de rojo cuando se coloca el mouse encima */
  }
  
  