.header {
    background-color: #d8f8e1; /* Color de fondo pastel */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #5e5e5e; /* Color de texto gris */
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #5e5e5e; /* Color de texto gris */
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #3498db; /* Color de texto azul al pasar el mouse */
  }
  