<header class="header">
  <nav class="navbar">
    <img src="https://cdn-icons-png.flaticon.com/512/603/603190.png" height="50px" width="50px">
    <a class="aaa">aaa</a>
    <ul class="nav-links">
      <li><a href="#">Subir archivos</a></li>
      <li class="dropdown">
        <a href="#">Asociar</a>
        <ul class="dropdown-content">
          <li><a href="asocInvestigador">Investigador</a></li>
          <li><a href="asocArticulo">Artículo</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Mantenimiento</a>
        <ul class="dropdown-content">
          <li><a href="mantInvestigadores">Investigadores</a></li>
          <li><a href="mantProyectos">Proyectos</a></li>
          <li><a href="mantPublicaciones">Publicaciones</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Top</a>
        <ul class="dropdown-content">
          <li><a href="topAreas">Áreas</a></li>
          <li><a href="topInstituciones">Instituciones</a></li>
          <li><a href="topInvestigadores">Investigadores</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Búsqueda</a>
        <ul class="dropdown-content">
          <li><a href="busqInvestigador">Investigador</a></li>
          <li><a href="busqProyecto">Proyecto</a></li>
          <li><a href="busqPublicacion">Publicación</a></li>
          <li><a href="busqArea">Áreas</a></li>
          <li><a href="busqColega">Colegas</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>