<!-- publicaciones.component.html -->

<div class="container">
    <h1>Lista de Publicaciones</h1>
    <select (change)="mostrarDetalles($event)" class="select-publicacion">
      <option value="">Selecciona una publicación</option>
      <option *ngFor="let publicacion of publicaciones" [value]="publicacion.titulo_publicacion">{{ publicacion.titulo_publicacion }}</option>
    </select>
  
    <table *ngIf="detallesPublicacion" class="tabla-detalles" id="detalles-table">
        <thead>
          <tr>
            <th>Título</th>
            <th>Año</th>
            <th>Revista</th>
            <th>Proyecto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ detallesPublicacion.titulo_publicacion }}</td>
            <td>{{ detallesPublicacion.anno_publicacion }}</td>
            <td>{{ detallesPublicacion.nombre_revista }}</td>
            <td>{{ detallesPublicacion.proyecto }}</td>
          </tr>
        </tbody>
      </table>
      
      
  </div>
  