<!-- afiliacion-investigador.component.html -->
<div>
    <h2>Afiliación de Investigador a Proyecto</h2>
  
    <label for="investigadorSelect">Selecciona un Investigador:</label>
    <select id="investigadorSelect" [(ngModel)]="selectedInvestigador" (change)="checkFormValidity()">
      <option *ngFor="let investigador of investigadores" [value]="investigador.id">{{ investigador.nombreCompleto }}</option>
    </select>
  
    <br>
  
    <div *ngIf="selectedInvestigador">
      <label for="proyectoSelect">Selecciona un Proyecto:</label>
      <select id="proyectoSelect" [(ngModel)]="selectedProyecto" (change)="checkFormValidity()">
        <option *ngFor="let proyecto of proyectos" [value]="proyecto.titulo">{{ proyecto.titulo }}</option>
      </select>
    </div>
    <button (click)="afiliarInvestigador()" [disabled]="isButtonDisabled">Afiliar Investigador</button>
  </div>
  
